<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierung</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

</head>
<body>

    <header class="text-light text-center py-3 heading-container" style="background-color: #5d0e6b;">
        <div class="container-fluid d-flex flex-column flex-md-row align-items-md-center flex-wrap justify-content-center">
            <div class="px-1"><img src="Logo ChatGPT Image 22. Aug. 2025, 13_15_52 .png" alt="Logo" style="width: 7rem; height: 6rem;"></div>
            <div class="px-3"><h1 class="display-1"><strong><strong>Worldrobe</strong></strong></h1></div>
        </div>
        <h2 class="display-6 text-center">- der Kleiderschrank für die Welt -</h2>
    </header>

    <nav class="navbar navbar-expand-lg" style="background-color: #cf7fe3;" data-bs-theme="light">
      <div class="container-fluid">  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="home.html"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="crisisAreas.html"><strong>Krisengebiete</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="regristration.html"><strong>Registrierungsformular</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutUs.html"><strong>Über uns</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
        
        <div class="container-fluid" id="app">

            <div class="progress m-3 sticky-top">
                    <div class="progress-bar" role="progressbar" :aria-valuenow="stand" aria-valuemin="0" 
                        aria-valuemax="100" :style="{width: stand + '%'}">
                    </div>
            </div>

            <form v-if="isVisible" action="" method="get" class="register" @submit.prevent="spenden">

                <div class="row m-2"></div>
                <div class="row m-3">
                    <h3 class="p-2"><u>Registrierungsformular</u></h3>
                </div>
                
                <!-- Ort der Kleiderspende -->

                <div class="row m-3">
                    <h5><u>So möchte ich meine Kleidung spenden:</u></h5>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioDefault" value="übergabe" v-model="selectedOption" @change="plzNeu">
                        <label class="form-check-label" for="übergabe">
                            Übergabe an der Geschäftsstelle
                        </label>
                        </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioDefault" value="abholung" v-model="selectedOption">
                        <label class="form-check-label" for="abholung">
                            Abholung
                        </label>
                    </div>

                    <!--Solange keine Option ausgewählt ist-->

                    <div>
                        <p v-if="selectedOption === null" class="my-3 p-2 alert alert-warning">
                            Bitte wählen Sie eine Option aus, wie die Kleiderspende nach <strong>Worldrobe</strong> gelangen soll!
                        </p>
                    </div>

                    <div>
                        <!-- falls Übergabe bei der Geschäftsstelle -->

                        <p v-if="selectedOption === 'übergabe'" class="my-3 p-2 alert alert-info">
                            <strong>Bitte stellen Sie sicher, dass Sie sich bereits an unserer Geschäftsstelle vor Ort befinden, um die Kleiderspende unmittelbar durchzuführen.</strong>
                        </p>

                        <!-- falls Abholung -->

                        <div v-if="selectedOption === 'abholung'" class="my-3 px-4 py-3 bg-secondary-subtle text-secondary-emphasis">
                            <p><strong>Bitte geben Sie die Adresse ein, an der die Kleiderspende abgeholt werden soll:</strong></p>
                            <div class="d-flex flex-column flex-sm-row m-3">
                                <label for="adresse1" class="form-label col-sm-2">Straße, Hausnr.:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="Straße" aria-label="strasse" v-model="strasse" required>
                                </div>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" placeholder="Nr." aria-label="nummer" max="999" v-model="nummer" required>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-sm-row m-3">
                                <label for="adresse1" class="form-label col-sm-2">PLZ, Ort:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="PLZ (5 Ziffern)" aria-label="plz" id="plz" v-model="plz" minlength="5" maxlength="5" required>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="Ort" aria-label="ort" v-model="ort" required>
                                </div>
                            </div>
                        </div>

                        <!-- Auswertung der PLZ-Prüfung -->
                        <p v-if="reachablePLZ" class="m-3 p-2 alert alert-success">
                            Perfekt, die eingegebene Adresse liegt in unserer Reichweite und kann von unserem Abholservice erreicht werden!
                        </p>

                        <p v-else-if="plz.length >= 2" class="m-3 p-2 alert alert-danger">
                            <strong>Die Postleitzahl muss mit "33XXX" beginnen! </strong><br> Die eingegebene Adresse kann leider nicht von unserem Abholservice erreicht werden. <br> Wir bitten um Verständnis, dass Kleiderspenden lediglich in einem bestimmten Radius um den Sitz unserer Geschäftsstelle herum berücksichtigt werden können. 
                        </p>

                    </div>  
                </div>   

                <!-- Auswahl Krisengebiet -->
                
                <div class="row m-3">
                    <label for="krisengebiet" class="form-label"><h5><u>In dieses Krisengebiet soll meine Spende gehen:</u></h5></label>

                    <div class="dropdown col-md-6 col-lg-4">
                        <select class="form-select" v-model="selectedGebiet" required>
                            <option selected disabled value="">- Bitte wähle eine Option -</option>
                            <option v-for="gebiet in Krisengebiete" :key="Krisengebiete" :value="gebiet">
                                {{ gebiet }}
                            </option>
                        </select>
                    </div>

                </div>

                <!-- Auswahl zu spendender Kleidungsstücke -->
        
                <div class="row m-3">
                    <div class="col">
                        <table class="table table-striped caption-top mt-3">

                            <caption style="color: black;">
                                <h5><u>Diese Kleidung möchte ich spenden:</u></h5> 
                            </caption>

                            <thead>
                                <tr>
                                <th scope="col">Kleidungsstück</th>
                                <th scope="col">Anzahl zu spendender Kleidungsstücke</th>
                                </tr>
                            </thead>

                            <tbody class="table-group-divider">

                                <tr v-for="(teil, index) in Kleidungsstücke" :key="index" :value="teil">
                                    <td><Strong>{{ teil.item }}</Strong>{{teil.beispiel}}</td>
                                    <td>
                                    <input type="number" v-model.number="teil.anzahl" min="0" max="50" class="form-control text-end">
                                    </td>
                                </tr>

                            </tbody>

                            <tfoot class="table-group-divider">
                                <tr>
                                    <th><strong>Gesamtanzahl:</strong></th>
                                    <td class="text-end"><strong>{{gesamtAnzahl}}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="row m-3">
                    <p v-if="nachricht" class="my-3 p-2 alert alert-warning text-center">
                        <strong>{{ nachricht }}</strong>
                    </p>
                </div>

                <div class="row mx-5">
                    <button type="submit" class="btn btn-primary" :disabled="selectedOption === null">KLEIDUNG SPENDEN</button>
                    <p></p>
                </div>

            </form>

            <div v-else class="row m-3 card text-bg-light">
                <h5 v-if="check === false" class="card-header p-3">Bitte überprüfen Sie, ob die Eingaben korrekt sind:</h5>
                <h5 v-else class="card-header p-3">Folgende Daten wurden registriert:</h5>
                <div class="card-body">
                    <p class="card-title"><u>Die Kleiderspende soll folgendermaßen erfolgen:</u></p>
                    <p v-if="selectedOption === 'übergabe'" class="card-text p-2">
                        <strong>Übergabe an der Geschäftsstelle</strong>
                    </p>
                    <p v-if="selectedOption === 'abholung'" class="card-text p-2">
                        <strong>Abholung an folgender Adresse:</strong> <br> {{ strasse}} {{ nummer }} <br> {{ plz }} {{ ort }}
                    </p>

                    <p class="card-title"><u>Die Kleiderspende soll in folgendes Krisengebiet gehen:</u></p>
                    <p class= "card-text p-2"><strong>{{selectedGebiet}}</strong></p>

                    <p class="card-title"><u>Folgende Kleidungsstücke sind in der Spende enthalten:</u></p>
                    <ul class="card-text p-2">
                        <li v-for="(teil, index) in zuspendendeKleidung" :key="index2">
                            {{ teil.anzahl }} × <strong>{{ teil.item }}</strong> {{ teil.beispiel }}
                        </li>
                    </ul>
                    <p><strong>Gesamtanzahl: </strong>{{gesamtAnzahl}}</p>

                    <div v-if="check === false" class="d-flex justify-content-between mt-3">
                        <button @click="isVisible = !isVisible" type="button" class="btn btn-secondary m-3">ZURÜCK</button>
                        <button @click="check = !check" type="button" class="btn btn-secondary m-3">BESTÄTIGEN</button>
                    </div>

                    <div v-else style="background-color: #cf7fe3; color: #5d0e6b;">
                        <div class="container-fluid d-flex flex-column flex-md-row align-items-md-center flex-wrap">   
                            <div class="m-2 p-3"><img src="Logo ChatGPT Image 22. Aug. 2025, 13_15_52 .png" alt="" style="width: 7rem; height: 6rem;"></div>
                            <div class="m-2 p-3">
                                <h5><strong>Herzlichen Glückwunsch!</strong></h5>
                                <p>Die Kleiderspende wurde erfolgreich registriert. Vielen Dank für Ihre Unterstützung! Auf ein baldiges Wiedersehen.</p>
                                <p v-if="selectedOption === 'abholung'"><em>Spende registriert am: {{zeitpunkt}} in {{ort}}</em></p>
                                <p v-else><em>Spende registriert am: {{zeitpunkt}} an der Geschäftsstelle</em></p>
                            </div>
                            <div class="ms-auto">
                                <a href="home.html" type="submit" class="btn btn-primary m-3 p-3">Zurück zur Startseite</a>
                            </div>            
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        
    </main>
    
    <footer class="d-flex mx-auto" style="background-color: #5d0e6b;">
      <ul class="list-inline justify-content-right ms-auto p-2">
        <li class="list-inline-item p-2"><a href="impressum.html" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Impressum</a></li>
        <li class="list-inline-item p-2" style="color: white;">|</li>
        <li class="list-inline-item p-2"><a href="privacyPolicy.html" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Datenschutz</a></li>
      </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        let app = Vue.createApp({
            data() {
                return {
                    isVisible: true,
                    selectedOption: null,
                    strasse: "",
                    nummer: "",
                    plz: "",
                    ort: "",
                    selectedGebiet:"",
                    Krisengebiete: [
                        "Afghanistan",
                        "Ägypten",
                        "Algerien",
                        "Armenien",
                        "Aserbaidschan",
                        "Äthiopien",
                        "Belarus",
                        "Benin",
                        "Burkina Faso",
                        "Côte d'Ivoire",
                        "Demokratische Republik Kongo",
                        "Eritrea",
                        "Ghana",
                        "Haiti",
                        "Indien",
                        "Irak",
                        "Iran",
                        "Israel",
                        "Japan",
                        "Jemen",
                        "Kambodscha",
                        "Kamerun",
                        "Kolumbien",
                        "Libanon",
                        "Libyen",
                        "Mali",
                        "Mauretanien",
                        "Mosambik",
                        "Myanmar",
                        "Nigeria",
                        "Niger",
                        "Pakistan",
                        "Palästinensische Gebiete",
                        "Philippinen",
                        "Russische Föderation",
                        "Somalia",
                        "Sudan",
                        "Südsudan",
                        "Syrien",
                        "Thailand",
                        "Togo",
                        "Tschad",
                        "Ukraine",
                        "Venezuela",
                        "Zentralafrikanische Republik",
                        "egal"
                    ],
                    Kleidungsstücke: [
                        {item: "Oberteile", beispiel: " (z.B. Top, T-Shirt, Pullover)", anzahl: 0},
                        {item: "Oberbekleidung", beispiel: " (z.B. Kleid, Anzug, Jacke)", anzahl: 0},
                        {item: "Hosen etc.", beispiel: " (auch Röcke, Shorts, Leggins)", anzahl: 0},
                        {item: "Schuhe", beispiel: " (auch Stiefel, Sandalen etc.)", anzahl: 0},
                        {item: "Kopfbedeckungen", beispiel: " (z.B. Mütze, Hut)", anzahl: 0},
                        {item: "Haushaltswäsche", beispiel: " (z.B. Handtücher, Bettwäsche etc.)", anzahl: 0},
                        {item: "Sonstiges", beispiel: " (z.B. Schal, Tasche, Accessoires)", anzahl: 0}
                    ],
                    index2: "",
                    nachricht: "",
                    gesamt: 0,
                    check: false,
                    zeitpunkt: new Date().toLocaleString("de-DE"),
                    }
                },
            methods: {
                plzNeu() {
                    if (this.selectedOption === "übergabe") {
                        this.plz = "";
                    }
                },
                spenden() {
                    if (this.gesamt===0 && this.selectedOption === "abholung" && !this.plz.startsWith("33")) {
                        this.nachricht = "! Bitte geben Sie mindestens ein Kleidungsstück als Spende sowie eine gültige Postleitzahl ein !"
                    }
                    else if (this.selectedOption === "abholung" && !this.plz.startsWith("33")) {
                        this.nachricht = "! Bitte geben Sie eine gültige Postleitzahl ein oder wählen Sie die Übergabe an der Geschäftsstelle !"
                    }
                    else if (this.gesamt===0) {
                        this.nachricht = "! Bitte geben Sie mindestens ein Kleidungsstück als Spende ein !"
                    }
                    else {
                    this.nachricht = ""
                    this.isVisible = false
                    }
                }
            },

            computed: {
                reachablePLZ() {
                    return this.plz.startsWith("33");
                },
                gesamtAnzahl() {
                    return this.gesamt = this.Kleidungsstücke.reduce((sum, item) => sum + item.anzahl, 0)
                },
                zuspendendeKleidung() {
                    return this.Kleidungsstücke.filter(teil => teil.anzahl > 0)
                },
                stand() {
                    let fortschritt = 10

                    if (this.selectedOption === "übergabe") {
                        fortschritt += 20
                    }
                    if (this.selectedOption === "abholung") {
                        fortschritt += 10
                    }
                    if (this.strasse && this.nummer && this.reachablePLZ && this.ort) {
                        fortschritt += 10
                    }
                    if (this.selectedGebiet) {
                        fortschritt += 20
                    }
                    if (this.gesamtAnzahl > 0) {
                        fortschritt += 20
                    }
                    if (this.isVisible === false) {
                        fortschritt += 20
                    }
                    if (this.check === true) {
                        fortschritt += 10
                    }
                    return fortschritt
                }
            }
        }); 
        app.mount('#app')
    </script>

</body>
</html>