<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierung</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

</head>
<body>

    <header class="text-light text-center py-3 heading-container" style="background-color: #5d0e6b;">
        <div class="d-flex justify-content-center">
            <div class="px-1"><img src="Logo ChatGPT Image 22. Aug. 2025, 13_15_52 .png" alt="" style="width: 7rem; height: 6rem;"></div>
            <div class="px-3"><h1 class="display-1 text-center"><strong><strong>Worldrobe</strong></strong></h1></div>
        </div>
        <h2 class="display-6">- der Kleiderschrank für die Welt -</h2>
    </header>

    <nav class="navbar navbar-expand-lg" style="background-color: #cf7fe3;" data-bs-theme="light">
      <div class="container-fluid">    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="home.html"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="crisisAreas.html"><strong>Krisengebiete</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="regristration.html"><strong>Registrierungsformular</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutUs.html"><strong>Über uns</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
        
        <div class="container-fluid" id="app">

            <div class="row m-2"></div>
            <div class="row m-3">
                <h3 class="p-2"><u>Registrierungsformular</u></h3>
            </div>

            <form action="" method="get" class="register">
                
                <!-- Ort der Kleiderspende -->
                <div class="row m-3">
                    <h5><u>So möchte ich meine Kleidung spenden:</u></h5>
                    <!-- #TODO : Hinweis hinzufügen für Auswählen wie Spende angenommen wird-->
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioDefault" value="abgabe" v-model="selectedOption">
                        <label class="form-check-label" for="abgabe">
                            Abgabe an der Geschäftsstelle
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioDefault" value="abholung" v-model="selectedOption">
                        <label class="form-check-label" for="abholung">
                            Abholung
                        </label>
                    </div>

                    <div>
                        <!-- falls Abgabe bei der Geschäftsstelle -->

                        <p v-if="selectedOption === 'abgabe'" class="m-3 p-2" style="background-color: #f0c1f0;">
                            <strong>Bitte stellen Sie sicher, dass Sie sich bereits an unserer Geschäftsstelle vor Ort befinden, um die Kleiderspende unmittelbar durchzuführen.</strong>
                        </p>

                        <!-- falls Abholung -->
                        <p v-if="selectedOption === 'abholung'" class="m-3 p-2" style="background-color: #f0c1f0;">
                            <strong>Bitte geben Sie die Adresse ein, an der die Kleiderspende abgeholt werden soll:</strong>

                            <p v-if="selectedOption === 'abholung'" class="input-group mb-3 m-3">
                                <span class="input-group-text col-4 col-lg-2">Straße, Hausnr.:</span>
                                <input type="text" class="form-control" placeholder="Straße" aria-label="strasse" id="strasse" required>
                                <input type="number" class="form-control" placeholder="Nr." aria-label="nummer" max="999" id="nummer" required>
                            </p>
                            <p v-if="selectedOption === 'abholung'" class="input-group mb-3 m-3">
                                <span class="input-group-text col-4 col-lg-2">PLZ, Ort:</span>
                                <input type="text" class="form-control" placeholder="PLZ (5Zahlen)" aria-label="plz" id="plz" v-model="plz" minlength="5" maxlength="5" required>
                                <input type="text" class="form-control" placeholder="Ort" aria-label="ort" id="ort" required>
                            </p>
                        </p>

                        <!-- Auswertung der PLZ-Prüfung -->
                        <p v-if="reachablePLZ" class="m-3 p-2 text-bg-success">
                            Perfekt, die eingegebene Adresse liegt in unserer Reichweite und kann von unserem Abholservice erreicht werden!
                        </p>
                        <!-- #TODO : Realistischer, indem im Fehler angegeben, bei welcher PLZ überhaupt abgeholt wird (z.b. 33XXX)-->
                        <!-- #TODO : Fehler wird auch angezeigt wenn PLZ gefüllt mit nicht abholbar und dann auf Abgabe gewechselt
                                     Ausserdem auch positive meldung-->
                        <p v-else-if="plz.length >= 2" class="m-3 p-2 text-bg-danger">
                            Diese Adresse kann von unserem Abholservice leider nicht erreicht werden. <br> Wir bitten um Verständnis, dass Kleiderspenden lediglich in einem bestimmten Radius um den Sitz unserer Geschäftsstelle herum berücksichtigt werden können. 
                        </p>

                    </div>  
                </div>   

                <!-- Auswahl Krisengebiet -->
                
                <!-- #TODO : Einrücken, dass nicht in zweite Zeile. (Irgendwas mit dem col medium/large auf small/medium oder so) -->
                <div class="row m-3">
                    <div class="col-md-6 col-lg-4">
                        <label for="krisengebiet" class="form-label"><h5><u>In dieses Krisengebiet soll meine Spende gehen:</u></h5></label>

                        <select class="form-select" required>
                            <!-- #TODO : Erste Option sollte nicht auswählbar sein und "Wähle eine Option"-->
                            <option v-for="gebiet in Krisengebiete" :key="Krisengebiete" :value="Krisengebiete">
                                {{ gebiet }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Auswahl zu spendender Kleidungsstücke -->
        
                <div class="row m-3">
                    <table class="table table-striped caption-top m-3">

                        <caption style="color: black;">
                            <h5><u>Diese Kleidung möchte ich spenden:</u></h5> 
                        </caption>

                        <thead>
                            <tr>
                            <th scope="col">Kleidungsstück</th>
                            <th scope="col">Anzahl zu spendender Kleidungsstücke</th>
                            </tr>
                        </thead>

                        <tbody class="table-group-divider">

                            <tr>
                                <th><strong><em>Oberteile</em></strong></th>
                                <td></td>
                            </tr>

                            <!-- #TODO : ausschließlich oberbegriffe abfragen. (S. Unten) -->

                            <tr v-for="(teil, index) in Oberteile" :key="index">
                                <td>{{ teil.item }}</td>
                                <td>
                                <input type="number" v-model.number="teil.anzahl" min="0" max="20" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <th><strong><em>Hosen etc.</em></strong></th>
                                <td></td>
                            </tr>

                            <tr v-for="(teil, index) in Hosen" :key="index">
                                <td>{{ teil.item }}</td>
                                <td>
                                <input type="number" v-model.number="teil.anzahl" min="0" max="20" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <th><strong><em>Oberbekleidung</em></strong></th>
                                <td></td>
                            </tr>

                            <tr v-for="(teil, index) in Oberbekleidung" :key="index">
                                <td>{{ teil.item }}</td>
                                <td>
                                <input type="number" v-model.number="teil.anzahl" min="0" max="20" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <th><strong><em>Jacken etc.</em></strong></th>
                                <td></td>
                            </tr>

                            <tr v-for="(teil, index) in Jacken" :key="index">
                                <td>{{ teil.item }}</td>
                                <td>
                                <input type="number" v-model.number="teil.anzahl" min="0" max="20" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <th><strong><em>Schuhe etc.</em></strong></td>
                            </tr>

                            <tr v-for="(teil, index) in Schuhe" :key="index">
                                <td>{{ teil.item }}</td>
                                <td>
                                <input type="number" v-model.number="teil.anzahl" min="0" max="20" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <th><strong><em>Kopfbedeckung</em></strong></th>
                                <td></td>
                            </tr>

                            <tr v-for="(teil, index) in Kopfbedeckung" :key="index">
                                <td>{{ teil.item }}</td>
                                <td>
                                <input type="number" v-model.number="teil.anzahl" min="0" max="20" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <th><strong><em>Sonstiges</em></strong></th>
                                <td></td>
                            </tr>

                            <tr v-for="(teil, index) in Sonstiges" :key="index">
                                <td>{{ teil.item }}</td>
                                <td>
                                <input type="number" v-model.number="teil.anzahl" min="0" max="20" class="form-control">
                                </td>
                            </tr>

                        </tbody>

                        <tfoot class="table-group-divider">
                            <tr>
                                <!-- #TODO : GesamtzAHL -->
                                <th><strong>Gesamtanzahl:</strong></th>
                                <td><output type="number" id="summe"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            


                <div class="row m-3 p-2 btn btn-primary">
                    <!-- #TODO : submit button -->
                     <!-- #TODO : nach absenden auf eine Bestätigungsseite, wo man alles nochmal checken soll oder abbrechen kann. anschließend nach weiterer bestätigung auf eine Danksagungsseite (neue html) -->
                    <button type="submit" class="btn btn-primary">absenden</button>
                </div>

            </form>
        </div>

        
    </main>
    
    <footer class="d-flex mx-auto" style="background-color: #5d0e6b;">
      <ul class="list-inline justify-content-right ms-auto p-2">
        <li class="list-inline-item p-2"><a href="impressum.html" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Impressum</a></li>
        <li class="list-inline-item p-2" style="color: white;">|</li>
        <li class="list-inline-item p-2"><a href="privacyPolicy.html" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Datenschutz</a></li>
      </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        let app = Vue.createApp({
            data() {
                return {
                    Sache: "TESTTEST123",
                    selectedOption: null,
                    plz: "",
                    selectedGebiet:"",
                    Krisengebiete: [
                        "Afghanistan",
                        "Ägypten",
                        "Algerien",
                        "Armenien",
                        "Aserbaidschan",
                        "Äthiopien",
                        "Belarus",
                        "Benin",
                        "Burkina Faso",
                        "Côte d'Ivoire",
                        "Demokratische Republik Kongo",
                        "Eritrea",
                        "Ghana",
                        "Haiti",
                        "Indien",
                        "Irak",
                        "Iran",
                        "Israel",
                        "Japan",
                        "Jemen",
                        "Kambodscha",
                        "Kamerun",
                        "Kolumbien",
                        "Libanon",
                        "Libyen",
                        "Mali",
                        "Mauretanien",
                        "Mosambik",
                        "Myanmar",
                        "Nigeria",
                        "Niger",
                        "Pakistan",
                        "Palästinensische Gebiete",
                        "Philippinen",
                        "Russische Föderation",
                        "Somalia",
                        "Sudan",
                        "Südsudan",
                        "Syrien",
                        "Thailand",
                        "Togo",
                        "Tschad",
                        "Ukraine",
                        "Venezuela",
                        "Zentralafrikanische Republik",
                        "egal"
                    ],
                    // #TODO : Oberteile in 'kleidungsstücke' und Unterelemente sind dann die vorherigen Oberbegriffe. Jeweils auch oben anpassen und alle vorherigen Unterelemente rausnehmen.
                    Oberteile: [
                        {item: "Top", anzahl: 0},
                        {item: "T-Shirt", anzahl: 0},
                        {item: "Bluse", anzahl: 0},
                        {item: "Hemd", anzahl: 0},
                        {item: "Pullover", anzahl: 0}
                    ],
                    Hosen: [
                        {item: "Jeans", anzahl: 0},
                        {item: "Leggins", anzahl: 0},
                        {item: "Shorts", anzahl: 0},
                        {item: "Rock", anzahl: 0},
                        {item: "andere Hose", anzahl: 0},
                    ],
                    Oberbekleidung: [
                        {item: "Kleid", anzahl: 0},
                        {item: "Anzug", anzahl: 0},
                    ],
                    Jacken: [
                        {item: "Blazer", anzahl: 0},
                        {item: "Jacke", anzahl: 0},
                        {item: "Mantel", anzahl: 0},
                    ],
                    Schuhe: [
                        {item: "Stiefel", anzahl: 0},
                        {item: "Schuhe", anzahl: 0},
                        {item: "Sandalen", anzahl: 0},
                    ],
                    Kopfbedeckung: [
                        {item: "Mütze", anzahl: 0},
                        {item: "Hut", anzahl: 0},
                    ],
                    Sonstiges: [
                        {item: "Kravatte", anzahl: 0},
                        {item: "Schal", anzahl: 0},
                        {item: "Handschuhe", anzahl: 0},
                        {item: "Gürtel", anzahl: 0},
                        {item: "Tasche", anzahl: 0},
                        {item: "Accessoires", anzahl: 0},
                        {item: "Sonstiges", anzahl: 0},
                    ]
                    }
                },

            computed: {
                reachablePLZ() {
                // Prüft, ob die PLZ mit "33" anfängt, da dies die ersten zwei Ziffern der fiktiven PLZ des Unternehmenssitzes entspricht
                return this.plz.startsWith("33");
                }
            }
        }); 
        app.mount('#app')
    </script>

</body>
</html>